<app-header></app-header>


<ion-content>
  <div class="musicPlaylist">
    <ion-button class="bActivated" routerLink="/musica">Musica</ion-button>
    <ion-button class="bDisactivated" routerLink="/playlist">PlayList</ion-button>

  </div>
  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <h2>Mas Esuchadas</h2>
      </ion-col>
      <ion-col>
        <h2 class="verMas">Ver Mas</h2>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <app-portada-album></app-portada-album>
      </ion-col>
      <ion-col>
        <app-portada-album></app-portada-album>
      </ion-col>
      <ion-col>
        <app-portada-album></app-portada-album>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <h2>Estudiar</h2>
      </ion-col>
      <ion-col>
        <h2 class="verMas">Ver Mas</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <app-portada-album></app-portada-album>
      </ion-col>
      <ion-col>
        <app-portada-album></app-portada-album>
      </ion-col>
      <ion-col>
        <app-portada-album></app-portada-album>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <h2>Relajacion</h2>
      </ion-col>
      <ion-col>
        <h2 class="verMas">Ver Mas</h2>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <app-portada-album></app-portada-album>
      </ion-col>
      <ion-col>
        <app-portada-album></app-portada-album>
      </ion-col>
      <ion-col>
        <app-portada-album></app-portada-album>
      </ion-col>
    </ion-row>
  </ion-grid>


  <h2 class="text">Escucha a:</h2>

  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <div class="esfera">
          <img src="../../../assets/icon/Viento.svg" alt="">
        </div>
      </ion-col>
      <ion-col>
        <div class="esfera">
          <img src="../../../assets/icon/Animales.svg" alt="">
        </div>
      </ion-col>
      <ion-col>
        <div class="esfera">
          <img src="../../../assets/icon/Mar.svg" alt="">
        </div>
      </ion-col>
      <ion-col>
        <div class="esfera">
          <img src="../../../assets/icon/Lluvia.svg" alt="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
<app-footer></app-footer>

