<ion-header>
  
</ion-header>

<ion-content>
  <div class="foto">
    <div class="esfera">
      <img src="../../../assets/icon/defaultPicture.svg" alt="" srcset="">
    </div>

    <h1 class="registrarse">Hola Juan</h1>
    <h3 class="pregunta">¿Cómo te sientes?</h3>
  </div>

  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <div style="background-color: #CBE8FB;" class="cuadrado">
          <div class="imagen">
            <img src="../../../assets/icon/Emoji-Feliz.png" alt="" srcset="">
            <div class="texto">
              <p>Feliz</p>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div style="background-color: #62B5CA;" class="cuadrado">
          <div class="imagen">
            <img src="../../../assets/icon/Emoji-Triste.png" alt="" srcset="">
            <div class="texto">
              <p>Triste</p>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div style="background-color: #5FA8D3;" class="cuadrado">
          <div class="imagen">
            <img src="../../../assets/icon/Emoji-Distraido.png" alt="" srcset="">
            <div class="texto">
              <p>Distrido</p>
            </div>
          </div>
        </div>
      </ion-col>
      <ion-col>
        <div style="background-color: #1B4866;" class="cuadrado">
          <div class="imagen">
            <img src="../../../assets/icon/Emoji-Enojado.png" alt="" srcset="">
            <div class="texto">
              <p>Enojado</p>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
