

<ion-tab-bar slot="bottom">
  <ion-tab-button href="/inicio">
    <div class="fondo">
      <img src="../../../assets/icon/Home.svg" alt="">
    </div>
  </ion-tab-button>

  <ion-tab-button href="/frases">
    <div class="fondo">
      <img src="../../../assets/icon/quotes.svg" alt="">
    </div>
  </ion-tab-button>

  <ion-tab-button href="/visual-cancion">
    <div class="fondoCenter">
      <img src="../../../assets/icon/Musica.svg" alt="">
    </div>
  </ion-tab-button>

  <ion-tab-button href="/meditacion">
    <div class="fondo">
      <img src="../../../assets/icon/Meditacion.svg" alt="">
    </div>
  </ion-tab-button>
  <ion-tab-button href="/diario">
    <div class="fondo">
      <img src="../../../assets/icon/Diario.svg" alt="">
    </div>
  </ion-tab-button>
</ion-tab-bar>

