@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    font-family: 'Roboto';
    text-transform: none;
}
.iniciar{
    text-align: center;
    font-style: normal;
    font-weight: normal;    
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.text{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
}
.center{
    text-align: center;
}
.boton{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    --border-radius: 7px;
}

.rg{
    color:white;
    --background: black;
}
a{
    text-decoration-line: underline;
    color: #000000;
}
.textRecuperar{
    padding-right: 5%;
    text-align: right;

}

.input{
    background: #CBE8FB;
    box-shadow: 0px 4px 2px -3px rgba(98, 181, 202, 0.55);
    border-radius: 7px;
}
.form{
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}
.foto{
    display: flex;
    justify-content: center;
    align-items: center;
}
.esfera{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #62B5CA; 
}