<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="iniciar">Iniciar</h1>
  
  <div class="form">
    <h3 class="text textInputs">Email</h3>
    <ion-input class="input"></ion-input>
    <h3 class="text textInputs">Contraseña</h3>
    <ion-input type="password" class="input"></ion-input>
  </div>
  <p class="text textRecuperar">
    <a href="#">Recuperar Contraseña</a>
  </p>
  <div class="center">
    <ion-button routerLink="/musica" class="boton rg" fill='clear'>
      Iniciar Sesion
    </ion-button>
  </div>


</ion-content>
