<app-header></app-header>

<ion-content>
  <div class="buscar">
    <div class="texto-buscar">
      <p>Buscar Frase</p>
    </div>
    
  </div>

    <ion-grid class='grid'>
      <ion-row>
        <ion-col>
          <a href="../frases-visualizacion/"><div class="cuadrado-frase"></div></a>
        </ion-col>
        <ion-col>
          <div class="cuadrado-frase"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="cuadrado-frase"></div>
        </ion-col>
        <ion-col>
          <div class="cuadrado-frase"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="cuadrado-frase"></div>
        </ion-col>
        <ion-col>
          <div class="cuadrado-frase"></div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <div class="cuadrado-frase"></div>
        </ion-col>
        <ion-col>
          <div class="cuadrado-frase"></div>
        </ion-col>
      </ion-row>

      
    </ion-grid>

</ion-content>


<ion-fotter>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/inicio">
      <div class="fondo">
        <img src="../../../assets/icon/Home.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/diario">
      <div class="fondo">
        <img src="../../../assets/icon/Diario.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/frases">
      <div class="fondoCenter">
        <img src="../../../assets/icon/quotes.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/meditacion">
      <div class="fondo">
        <img src="../../../assets/icon/Meditacion.svg" alt="">
      </div>
    </ion-tab-button>
    <ion-tab-button href="/musica">
      <div class="fondo">
        <img src="../../../assets/icon/Musica.svg" alt="">
      </div>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-fotter>
