<app-header></app-header>

<ion-content>
  <div class="contenedor">
    <div class="frase">
      <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
    </div>
  </div>
  
  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <div class="imagenes"><img  src="../../../assets/icon/Frase-Enviar.svg" alt="" srcset=""></div>
      </ion-col>
      <ion-col>
        <div class="imagenes"><img  src="../../../assets/icon/Frase-Compartir.svg" alt="" srcset=""></div>
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-content>

<ion-fotter>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/inicio">
      <div class="fondo">
        <img src="../../../assets/icon/Home.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/diario">
      <div class="fondo">
        <img src="../../../assets/icon/Diario.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/frases">
      <div class="fondoCenter">
        <img src="../../../assets/icon/quotes.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/meditacion">
      <div class="fondo">
        <img src="../../../assets/icon/Meditacion.svg" alt="">
      </div>
    </ion-tab-button>
    <ion-tab-button href="/musica">
      <div class="fondo">
        <img src="../../../assets/icon/Musica.svg" alt="">
      </div>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-fotter>
