<app-header></app-header>

<ion-content>
  <div class="musicPlaylist">
    <ion-button class="bDisactivated" routerLink="/musica">Musica</ion-button>
    <ion-button class="bActivated" routerLink="/playlist">PlayList</ion-button>
  </div>
  <h1 class="text">Playlist 1</h1>
  <div class="contenedor">
    <div class="canciones">
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
    </div>
  </div>
  <h1 class="text">Playlist 2</h1>
  <div class="contenedor">
    <div class="canciones">
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
    </div>
  </div>
  <h1 class="text">Playlist 3</h1>
  <div class="contenedor">
    <div class="canciones">
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
      <p>1. Nombre De La Cancion 3:14</p>
    </div>
  </div>
 
  
</ion-content>
<app-footer></app-footer>


