<ion-header>
  
</ion-header>

<ion-content>
  
  <div class="inicioSesion">
    <ion-img class="logo" src="../../../assets/icon/LogoZenScape.svg"></ion-img>
    <h1 class="bienvenido">Bienvenido</h1>
    <ion-button class="boton FB" fill='clear' >
      <div class="icon">
        <ion-img src="../../../assets/icon/facebook.svg"></ion-img>
      </div>
      Continuar con Facebook
    </ion-button>
    <ion-button class="boton GL" fill='outline'><div class="icon">
      <ion-img src="../../../assets/icon/google.svg"></ion-img>
    </div>
    Continuar con Google
  </ion-button>
  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <div>
          <hr>
        </div>
      </ion-col>
      <ion-col>
        <div calss="text">
          Usa tu email
        </div>
      </ion-col>
      <ion-col>
        <div>
          <hr>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class='grid'>
    <ion-row>
      <ion-col>
        <div>
          <ion-button routerLink="/registrarse" class="boton rg" fill='clear' >
            Registrarse
          </ion-button>
        </div>
      </ion-col>
      <ion-col>
      </ion-col>
      <ion-col>
        <div>
          <ion-button routerLink="/log-in" class="boton rg" fill='clear'>
            Log In
          </ion-button>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <p class=" text terminos">
    Al inciar acepta los terminos y condiciones de la app
  </p>
  </div>
  
  
</ion-content>
