<app-header></app-header>

<ion-content>
  
  <div>
    <div class="texto-titulo">
        ¿Cómo te sientes?
    </div>
    <div>
      <ion-grid class='grid'>
        <ion-row>
          <ion-col>
            <div class="cuadrado">
              <div class="imagen">
                <img src="../../../assets/icon/Emoji-Feliz.png" alt="" srcset="">
                  <!--<div class="cuadrado-editar">
                    <p>Eliminar</p>
                    <p>Editar</p>
                  </div>-->
                <div class="texto">
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="cuadrado">
              <div class="imagen">
                <img src="../../../assets/icon/Emoji-Triste.png" alt="" srcset="">
                <div class="texto">
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="cuadrado">
              <div class="imagen">
                <img src="../../../assets/icon/Emoji-Distraido.png" alt="" srcset="">
                <div class="texto">
                </div>
              </div>
            </div>
          </ion-col>
          <ion-col>
            <div class="cuadrado">
              <div class="imagen">
                <img src="../../../assets/icon/Emoji-Enojado.png" alt="" srcset="">
                <div class="texto">
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>


  <div class="contenedor-diario">
    <div>
      <p class="texto-diario">¿Qué pasó hoy?</p>
    </div>
  </div>

  <div class="contenedor-diario-ejemplo">
    <div>
      <p class="texto-diario">Fecha</p>
      <p class="texto-diario-anotacion">Lorem Ipsum es simplemente el texto de relleno de las
        imprentas y archivos de texto. 
       Lorem Ipsum ha sido el texto de relleno estándar de las </p>
    </div>
    <div class="Emoji">
      <img src="../../../assets/icon/Emoji-Feliz.png" alt="" srcset="">
    </div>
  </div>
  <div class="contenedor-diario-ejemplo">
    <div>
      <p class="texto-diario">Fecha</p>
      <p class="texto-diario-anotacion">Lorem Ipsum es simplemente el texto de relleno de las
        imprentas y archivos de texto. 
       Lorem Ipsum ha sido el texto de relleno estándar de las </p>
    </div>
    <div class="Emoji">
      <img src="../../../assets/icon/Emoji-Triste.png" alt="" srcset="">
    </div>
  </div>
  <div class="contenedor-diario-ejemplo">
    <div>
      <p class="texto-diario">Fecha</p>
      <p class="texto-diario-anotacion">Lorem Ipsum es simplemente el texto de relleno de las
        imprentas y archivos de texto. 
       Lorem Ipsum ha sido el texto de relleno estándar de las </p>
    </div>
    <div class="Emoji">
      <img src="../../../assets/icon/Emoji-Enojado.png" alt="" srcset="">
    </div>
  </div>
  <div class="contenedor-diario-ejemplo">
    <div>
      <p class="texto-diario">Fecha</p>
      <p class="texto-diario-anotacion">Lorem Ipsum es simplemente el texto de relleno de las
        imprentas y archivos de texto. 
       Lorem Ipsum ha sido el texto de relleno estándar de las </p>
    </div>
    <div class="Emoji">
      <img src="../../../assets/icon/Emoji-Distraido.png" alt="" srcset="">
    </div>
  </div>

  

</ion-content>


<ion-fotter>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/inicio">
      <div class="fondo">
        <img src="../../../assets/icon/Home.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/frase">
      <div class="fondo">
        <img src="../../../assets/icon/quotes.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/diario">
      <div class="fondoCenter">
        <img src="../../../assets/icon/Diario.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/meditacion">
      <div class="fondo">
        <img src="../../../assets/icon/Meditacion.svg" alt="">
      </div>
    </ion-tab-button>
    <ion-tab-button href="/musica">
      <div class="fondo">
        <img src="../../../assets/icon/Musica.svg" alt="">
      </div>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-fotter>
