<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <div class="contenedor-titulo">
    <p class="texto-titulo">Ejercicios de Respiración</p>
  </div>
  
  <div class="contenedor-esferas">
    <div class="esfera1">
      <div class="esfera2">
          <div class="esfera3">
              <p class="texto-esfera">INHALA</p>
          </div>
      </div>
    </div>
  </div>
  
  
</ion-content>

<ion-fotter>
  <ion-tab-bar slot="bottom">
    <ion-tab-button href="/inicio">
      <div class="fondo">
        <img src="../../../assets/icon/Home.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/frases">
      <div class="fondo">
        <img src="../../../assets/icon/quotes.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/meditacion">
      <div class="fondoCenter">
        <img src="../../../assets/icon/Meditacion.svg" alt="">
      </div>
    </ion-tab-button>
  
    <ion-tab-button href="/musica">
      <div class="fondo">
        <img src="../../../assets/icon/Musica.svg" alt="">
      </div>
    </ion-tab-button>
    <ion-tab-button href="/diario">
      <div class="fondo">
        <img src="../../../assets/icon/Diario.svg" alt="">
      </div>
    </ion-tab-button>
  </ion-tab-bar>
  
</ion-fotter>