<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio" color="primary"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 class="registrarse">Registrarse</h1>
  <div class="foto">
    <div class="esfera">
      <img src="../../../assets/icon/defaultPicture.svg" alt="" srcset="">
    </div>
  </div>
  <p class="text textFoto">
    <a href="#">Seleccionar Foto de Perfil</a>
  </p>
  <div class="form">
    <h3 class="text textInputs">Nombre y Apellido</h3>
    <ion-input class="input"></ion-input>
    <h3 class="text textInputs">Email</h3>
    <ion-input class="input"></ion-input>
    <h3 class="text textInputs">Contraseña</h3>
    <ion-input type="password" class="input"></ion-input>
  </div>

  <div class="center">
    <ion-button routerLink="/musica" class="boton rg" fill='clear'>
      Registrarse
    </ion-button>
  </div>


</ion-content>