
.cuadrado{
    width: 76px;
    height: 77px;
    background: #1B4866;
    display: flex;
}
.info{
    color: white;
    width: 76px;
    height: 27px;
    background: #62B5CA;
    margin: 50px auto;
}
.esfera{
    width: 17px;
    height: 17px;
    border-radius: 50%;
    background: #1B4866;

}